<p> We produce twice as much food as we need and waste 1/3 of it every year. That's 1.3 billion tons of food worth $750 billion, while 1 in 7 is hungry and farmers are increasingly squeezed. Not to mention how harmful this waste is to our environment... So what if we managed to keep more food in the food chain? </p>


<p> Sincuru helps farmers to optimise their post-harvest losses, by matching their excess stocks with food businesses who need it. By reducing food waste and reusing food that is usually thrown away, Sincuru creates a new way for all to rejoice in great food. Simply.</p>
