<div class="jumbotron">
		 <%= image_tag("Slogo.jpg") %>
        <h2>Farm produce, recovered and delivered</h2>
        <h2 class="lead">Placeholder text goes here </h2>
		<h2>And some more text can go here</h2>
 <br/>

 <p><%= link_to "Sign Up Today", "#", class: "btn btn-success btn-lg" %> </p>  
  
 <br/>  
    

</div>



