<div class="footer">
      <div class="container">
  
</ul>

<p>We Are Part of the <b>Bethnall Green Ventures</b> an Accelerator Programme for People Who Want to Change the World Using Technology.</p>
      </div>
    </div>




